{% extends "base.html" %}

{% block content %}
<h1 class="title is-size-1 has-text-centered">
  ADANews - API
</h1>
<h2 class="subtitle has-text-centered">
  API do grupo 1 :)
</h2>

<div class="box">
    <h2 class="title is-size-3"> Bem-vindos a ADANews</h2>
    <p>
    Somos sua fonte de notícias tecnológicas. Aqui você encontrará
    notícias relevantes do mundo tech.
    </p>
</div>

<div class="box">
    <h2 class="title is-size-3">O que oferecemos:</h2>
    <ol type="1">
        <li>
            <strong>Notícias Atualizadas:</strong> Mantenha-se informado com as últimas notícias sobre
            o mundo TECH. Nossa equipe de especialistas faz a curadoria e apresenta
            as informações mais relevantes para você.
        </li>
        <li>
            <strong>Análise Aprofundada:</strong> Vá além das manchetes. Nossa plataforma oferece análises detalhadas e
            insights especializados sobre os avanços mais recentes, ajudando você a compreender o impacto no setor e
            identificar oportunidades.
        </li>
        <li>
            <strong>Histórico de Avanços:</strong> Explore o progresso do campo ao longo dos anos. Nossa base de dados
            abrangente permite que você investigue os marcos importantes e as tendências atuais.
        </li>
    </ol>
</div>
{% endblock %}