{% extends "base.html" %}

{% block content %}
<h1 class="title is-size-1 has-text-centered">
  HealthGen
</h1>
<h2 class="subtitle has-text-centered">
  API do grupo 1 :)
</h2>

<div class="box">
    <h2 class="title is-size-3"> Bem-vindo à ... </h2>
    <p>
      Seja parte da vanguarda da revolução genômica! Na HealthGen, estamos comprometidos em impulsionar a medicina
      ersonalizada por meio da genômica avançada. A Genomic Insights é a sua porta de entrada para as últimas
      descobertas, tendências e avanços no campo da genômica e da medicina personalizada.
    </p>
</div>

<div class="box">
    <h2 class="title is-size-3">O que oferecemos:</h2>
    <ol type="1">
        <li>
            <strong>Notícias Atualizadas:</strong> Mantenha-se informado com as últimas notícias sobre
            e desenvolvimentos na genômica e medicina personalizada. Nossa equipe de especialistas cura e apresenta
            as informações mais relevantes para você.
        </li>
        <li>
            <strong>Análise Aprofundada:</strong> Vá além das manchetes. Nossa plataforma oferece análises detalhadas e
            insights especializados sobre os avanços mais recentes, ajudando você a compreender o impacto no setor e
            identificar oportunidades.
        </li>
        <li>
            <strong>Histórico de Avanços:</strong> Explore o progresso do campo ao longo dos anos. Nossa base de dados
            abrangente permite que você investigue os marcos importantes e as tendências que
            moldaram a genômica até o presente.
        </li>
    </ol>
</div>
{% endblock %}