{% extends "base.html" %}

{% block content %}

<head>
    <title>News</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
</head>

<div class="column is-half is-offset-one-quarter">
    <h1 class="title is-size-4 has-text-centered">Ocorrências de palavras-chave nos títulos</h1>
    <div class="box"><table class="table is-fullwidth is-bordered is-hoverable mx-auto">
        <thead>
            <tr>
                <th>Xiaomi</th>
                <th>Tesla</th>
                <th>Apple</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{title_table['apple'] }}</td> <!-- trocar isso aqui -->
                <td>{{title_table['tesla'] }}</td>
                <td>{{title_table['xiaomi']}}</td> <!-- trocar isso aqui -->
            </tr>
        </tbody>
    </table></div>
</div>

<div class="column is-half is-offset-one-quarter">
    <h1 class="title is-size-4 has-text-centered">Ocorrências de palavras-chave nas descrições</h1>
    <div class="box"><table class="table is-fullwidth is-bordered is-hoverable mx-auto">
        <thead>
            <tr>
                <th>Xiaomi</th>
                <th>Tesla</th>
                <th>Apple</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{description_table['apple'] }}</td> <!-- trocar isso aqui -->
                <td>{{description_table['tesla'] }}</td>
                <td>{{description_table['xiaomi']}}</td> <!-- trocar isso aqui -->
            </tr>
        </tbody>
    </table></div>
</div>
{% endblock %}